cudnn*/
pretrained_models/
debug_outputs/
fig/
checkpoint*
archived/
pytorch_deeplab_xception/
models/
*.pdstates
*.pdparams
ocrnet*
ddr*
unet_*
pspnet*
hrnet_*
bisenet*
deeplabv3p*
u2cracknet*
unet.yml
stdcseg.yml
rucnet_*